[build]
  publish = "build"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"
  REACT_APP_API_URL = "https://fixnow-1.onrender.com"
  REACT_APP_GOOGLE_MAPS_API_KEY = "AIzaSyC1-v9JiTfrKSuR0M_nCpfQFWMeGUbqt3E"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.processing]
  skip_processing = false

[build.processing.css]
  bundle = true
  minify = true

[build.processing.js]
  bundle = true
  minify = true

[build.processing.html]
  pretty_urls = true
